
.bakerloo-line {
    background-color: #B36305; 
    color: #ffffff; 
}

.central-line {
    background-color: #E32017; 
    color: #ffffff;
}

.circle-line {
    background-color: #FFD300; 
    color: #000000; 
}

.district-line {
    background-color: #00782A;
    color: #ffffff;
}

.hammersmith-city-line {
    background-color: #F3A9BB; 
    color: #000000;
}

.jubilee-line {
    background-color: #A0A5A9; 
    color: #000000;
}

.metropolitan-line {
    background-color: #9B0056; 
    color: #ffffff;
}

.northern-line {
    background-color: #000000; 
    color: #ffffff;
}

.piccadilly-line {
    background-color: #003688; 
    color: #ffffff;
}

.victoria-line {
    background-color: #0098D4; 
    color: #ffffff;
}

.waterloo-city-line {
    background-color: #95CDBA; 
    color: #000000;
}

.elizabeth-line {
    background-color: #9364CD; 
    color: #ffffff;
}

.overground-line {
    background-color: #EE7C0E; 
    color: #000000;
}

.dlr-line {
    background-color: #00A4A7; 
    color: #ffffff;
}



